body {
    text-align: center;
  }


  #title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 85px;
  }
  
 
  
  #outer-circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: #385a94;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
  }
  
  .green {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 10 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 150px rgba(237, 11, 26, 0.3);
    
  }
  
  .red {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  .yellow {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    
  }
  
  .blue {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  .inner-circle {
    position: absolute;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(106, 255, 0);
}
  